# Use the following directives to load into environment variables
# DB-SPECIFIC SETTINGS
export DB_TYPE='mysql'
export DB_HOST='127.0.0.1'
export DB_PORT='3306'
export DB_USER='todo_user'
export DB_ROOT_PASSWORD='todo_spring_root_pw'
export DB_PASSWORD='todo_password'
export DB_NAME='todo_spring'

# WEB SERVER SPECIFIC SETTINGS
export APP_PORT='8080'